{# @var array orders #}
{% set currency =  '&#8381;' %}
{% extends 'layouts/main.twig' %}

{% block content %}

  <div class="card bg-secondary text-white px-2 py-1 my-1">
    <div class="row mb-1">
      <div class="col-2">Number</div>
      <div class="col-4">Date</div>
      <div class="col-3">Amount</div>
      <div class="col-3">Status</div>
    </div>
  </div>
    {% for order in orders %}
      <div class="card bg-light my-2 px-2 py-1 pointer table-row"
           @click="goLink({{ order.id }}, $event)">
        <div class="row mb-1 align-items-center">
          <div class="col-2">{{ order.id }}</div>
          <div class="col-4">{{ order.date }}</div>
          <div class="col-3">{{ order.amount }} {{ currency|raw }}</div>
          <div class="col-3">{{ order.status }}</div>
        </div>
      </div>
    {% else %}
      <div class="card bg-light my-2 px-2 py-3" >You have no orders yet.</div>
    {% endfor %}
{% endblock %}