{# @var App\models\Product product #}
{# @var string title #}
{# @var string error #}

{% extends 'layouts/main.twig' %}

{% block pagination %}
{% endblock %}

{% block h1 %}
  {{  parent() }}
  <div class="col d-flex align-items-end justify-content-end">
    <div class=" mb-3"><a href="/product/">Back to product list</a></div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <form class="form" enctype="multipart/form-data" method="POST">

        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text label-w" id="inputTitle">Title</span>
          </div>
          <input name="title" type="text" class="form-control" placeholder="New product title"
                 value="{{ product.title }}" required="">
        </div>

        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text label-w" id="inputPrice">Price</span>
          </div>
          <input name="price" type="text" class="form-control" placeholder="99.99"
                 value="{{ product.price }}" required="">
        </div>

        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text label-w" id="inputInfo">Description</span>
          </div>
          <input name="info" type="text" class="form-control" placeholder="Description"
                 value="{{ product.info }}" >
        </div>

        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text label-w">Image</span>
          </div>
          <div class="custom-file">
            <input name="picture" type="file" class="custom-file-input" id="inputFile" required="">
            <label class="custom-file-label" for="inputFile">Choose file</label>
          </div>
          <div class="w-100 mt-3 text-danger">{{ error }}</div>

        </div>

        <div class="input-group my-2">
          <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}